@font-face {
	font-family: GraublauWeb;
	src: url("../fonts/Gotham _Rounded_Book.otf") format("opentype");
}

@font-face {
	font-family: GraublauWeb;
	font-weight: bold;
	src: url("../fonts/gotham_rounded_bold.otf") format("opentype");
}
@font-face {
	font-family: GraublauWeb;
	font-weight: 300;
	src: url("../fonts/Gotham_Rounded_Light.otf") format("opentype");
}
@font-face {
	font-family: GraublauWeb;
	font-weight: medium;
	src: url("../fonts/gotham_rounded_medium.otf") format("opentype");
}
*{
	font-family: GraublauWeb, Arial, Helvetica, sans-serif;
}
#overlay{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom:0;
	background-color: #fff;
	z-index: 1;
	visibility: hidden;
}
.borrar{
	-webkit-animation: fadeInFromNone 0.5s ease-out;
  -moz-animation: fadeInFromNone 0.5s ease-out;
  -o-animation: fadeInFromNone 0.5s ease-out;
  animation: fadeInFromNone 0.5s ease-out;
}
@-webkit-keyframes fadeInFromNone {
	0% { opacity: 1; }
	99% { opacity: 0; z-index:1; }
	100% { opacity: 0; display:none; position:fixed; z-index:-5; }
}
@-moz-keyframes fadeInFromNone {
	0% { opacity: 1; }
	99% { opacity: 0; z-index:1; }
	100% { opacity: 0; display:none; position:fixed; z-index:-5; }
}
@-o-keyframes fadeInFromNone {
	0% { opacity: 1; }
	99% { opacity: 0; z-index:1; }
	100% { opacity: 0; display:none; position:fixed; z-index:-5; }
}

@keyframes fadeInFromNone {
	0% { opacity: 1; }
	99% { opacity: 0; z-index:1; }
	100% { opacity: 0; display:none; position:fixed; z-index:-5; }
}

#overlay>img{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
	margin-top: 35vh;
}

#over-text{
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: 14vh;
		font-size: 1.5rem;
		color: #38beab;
		transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
}
.bg-light {
	background-color: #ffffff!important;
}
#logoMenu{ width: 14rem ;}
.nav-item{ border-bottom: 2px solid #fff; transition: all 0.3s ease-in-out ;
}
.nav-item:hover{border-bottom: 2px solid #38beab; cursor:pointer;}
.nav-link.active{color: #474747!important}
.nav-link{font-weight: medium; padding-bottom: 0; color:#707070!important; letter-spacing: 1px; }
.subNav{font-weight: 300; font-size: 80%; color:#79cbb5;}
.nav-item>.icono{font-size:26px;}
#navIconos .badge{font-size: 10px; background-color: #EF798F!important; font-weight: 300; }

.carousel-control-prev-icon { background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23EF798F' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); }
.tarjetaBebes, .tarjetaValoop{position: relative;}
.tarjetaBebes>.texto{
	position: absolute;
	top: 100PX;
	left: 2vw;
	color: white;
	font-size: 2rem;}
.tarjetaBebes>img{border-radius: 1rem!important;}
.tarjetaBebes>.botonVer{position: absolute; bottom: 100px; right: 2vw; border-radius: 20px; padding: .1rem 2rem; border: 2px solid #fff; font-size: 1.5rem; }
.tarjetaValoop>.botonVer{position: absolute; bottom: 30px; right: 9vw; border-radius: 20px; padding: .1rem 2rem; border: 2px solid #fff; font-size: 1.5rem; }
.botonVer:hover{color:#BE9F73}
h1,h2,h3,h4,h5{color:#79CBB5}
.divVariantes{position: relative;}
.variantes{position: absolute; width: 100%; bottom:0; height: 0; overflow: hidden; transition: all 0.3s ease-in-out;visibility:hidden; padding:0; margin-left: 0rem;}
.owl-carousel .owl-item img{
	width: 95%!important;
}

.variantes.activo{height: 100px; padding: 0; background-color: rgba(255, 255, 255, 0.699);visibility:visible; padding: 1rem; }
.variantes>div{
	border:1px solid #000;
	font-size: 0.8em;
	font-weight: lighter;
	cursor:pointer;
	text-align: center;
	padding: 3px;
	transition: all 0.3s ease-in-out;
	width: 30%;
	margin: 5px 1%;
	height: 30px;
	
}
.variantes>div:hover{
	background-color: #EF798F;	
}
.datosPrendas{font-weight: lighter;}
.precioAnterior{color: #79cbb5; text-decoration:line-through;}
.bolitas .color{
	width: 30px; height: 30px; background-color: #ffffff; border-radius: 50%;
	margin: 0 10px;
}
.tituloPrenda{font-size:1.1rem;}
#divBeneficios h5{ color:#000000; font-weight: lighter; font-size: 1.2rem; margin: 2rem 0; text-align: center;}
#divBeneficios img{max-width: 13vw; margin: 0 auto;}
footer{
	background-color: #79cbb526;
}
footer p{
	font-weight: lighter;
}
footer .bi-whatsapp{
	font-size: 1.4rem;

}
footer i{
	font-size: 2rem;
}
footer ul { font-weight: lighter;}
footer ul li:hover{ cursor: pointer;}
footer ul i{
font-size: 0.9rem;
}
footer #btnIngresar{background-color: #79CBB5!important; border:none; border-radius: 20px; }